<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - SOHO Pay Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="The Bear Bytes">

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/styles/css")
</head>

<body>
    <header>
        <div class="header row-fluid">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="@Url.Action("Index", "Home")">SOHO Pay Day</a>
                        </h1>
                        <div class="nav-collapse collapse">
                            @Html.Partial("_NavPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                    @RenderBody()
            </div>
        </div>
    </div>

    <footer>
    <div class="container">
        <div class="footer-border"></div>
        <div class="row">
            <div class="copyright span4">
                <p>SOHO Pay Day - &copy; <a href="http://www.thebearbytes.com.au" target="_blank">The Bear Bytes</a> @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
    </footer>

    <div class="modal hide fade" id="theModal"></div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            //Modal Constructor
            $('#theModal').modal({
                keyboard: true,
                backdrop: 'static',
                show: false
            });
        });
    </script>


</body>
</html>
