@model BearBytes.SohoPayDay.Dto.ProductDto

@{
    ViewBag.Title = ViewBag.FormMode + " " + Model.ProductCategory.ProductType;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProductCategory.ProductType)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProductCategory.Id, (SelectList)ViewBag.ProductCategoryList)
            @Html.ValidationMessageFor(model => model.ProductCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <br/>
        <p>
            @Html.ActionLink("Cancel", "List", "Product", new{ Id = (int)ViewBag.ProductTypeFilter }, new { @class = "btn" })
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
